# Copia a keystore.properties (gitignored) tras generar el keystore:
#   npm run cap:android:keystore
#
# storeFile=../vertial-release.keystore
# storePassword=TU_PASSWORD
# keyAlias=vertial
# keyPassword=TU_PASSWORD
